# PYTHON
# ignore the virtual environment
backend/venv/

# ignore files randomly created in the
# backenf folder
backend/status.txt
backend/pygment.txt
backend/formatters.txt
backend/secret.json

# Django stuff:
backend/*.log
backend/static/
backend/media/
backend/db.sqlite3
backend/db.sqlite3-journal

#JAVASCRIPT (node)
# Dependency directories
frontend/highlight/node_modules/
frontend/node_modules
node_modules/

# vscode stuff
.vscode/