# PYTHON
# ignore the virtual environment
backend/venv/

# ignore files randomly created in the
# backenf folder
backend/status.txt
backend/pygment.txt
backend/formatters.txt
backend/*.env
backend/**/*.env

# Django stuff:
backend/*.log
backend/static/
backend/media/
backend/db.sqlite3
backend/db.sqlite3-journal

#JAVASCRIPT (node)
# Dependency directories
frontend_old
# vscode stuff
.vscode/

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/node_modules
frontend/.DS_Store
frontend/dist
frontend/dist-ssr
frontend/coverage
frontend/*.local
frontend//cypress/videos/
frontend//cypress/screenshots/
frontend/# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
