# PYTHON
# ignore the virtual environment
backend/venv/

# ignore files randomly created
backend/status.txt
backend/pygment.txt
backend/formatters.txt

# Django stuff:
backend/*.log
backend/static/
backend/media/
backend/db.sqlite3
backend/db.sqlite3-journal

#JAVASCRIPT (node)
# Dependency directories
frontend/highlight/node_modules/

# vscode stuff
.vscode/